
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, #0050e6, #a56eff, #ff7eb6);
  width: 23%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.info-box:hover {
  background: linear-gradient(45deg, #0050e6, #a56eff);
}

.Api-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 20px; */
  width: 23%;
  /* height: 100%; */
  padding: 0px 20px;
  border-radius: 7px;
  /* color: white; */

}


.tut-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 20px; */
  width: 23%;
  /* height: 100%; */
  padding: 20px 20px;
  border-radius: 7px;
  /* color: white; */

}
.right-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #121619;
  width: 28%;

  height: 44.5%;
  padding: 15px 20px ;
  border-radius: 5px;
  /* color: white; */
  /* margin-top:5%; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-content h1 {
  font-size: 1.5rem;
  line-height: 0.5;
  font-weight: 500;
}


.text-content p {
  font-size: .875rem;
  line-height: 1.42857;
  letter-spacing: .16px;

}

.text-content-right h1 {
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.28572;
  letter-spacing: .16px;
}

.text-content-right h2{
  font-size: .75rem;
  line-height: 1.3333;
  letter-spacing: .32px;
  /* color:#525252 */
}

.text-content-right p {
  font-size: .875rem;
  /* line-height: 1.42857; */
  letter-spacing: .16px;
  /* color:#525252; */
}


.arrow-iconz{
  align-self: flex-start;
  font-size: 1.5rem;
  color: #fff;
}
.arrow-icon {
  align-self: flex-start;
  font-size: 1.5rem;
  color: #a56eff;
}
.arrow-icon button{
  padding:7px;
  border-radius: 10px;
  font-size: 0.7rem !important;
  
border: none;
color: #fff;
  /* background-color: #4d5358; */
}

.main-boxdiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height:300px;
  margin-top: 3%;
}

.right-box {
  width: 74%;
  display: flex;
  height: 100%;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;

  justify-content: flex-start;

}

.main-boxdiv-lower {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 250px;
  margin:0%;
}
